<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="java.lang.String" alias="String" />
		<typeAlias type="com.aka.app.equipment.EquipmentVO" alias="EquipmentVO"/>
		<typeAlias type="com.aka.app.util.Pager"  alias="Pager"/>
		<typeAlias type="com.aka.app.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.aka.app.edms.EdmsVO" alias="EdmsVO"/>
		<typeAlias type="com.aka.app.member.RoleVO" alias="RoleVO" />
		<typeAlias type="com.aka.app.member.MemberVO" alias="MemberVO" />	
	</typeAliases>
</configuration>