<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.aka.app.edms.EdmsDAO">






<!-- 결재선 직원 불러오기  -->

	<select id="getMemberList" resultType="Map">
		
		SELECT MEMBER_ID, USERNAME, DEPARTMENT_ID, DEPARTMENT_SUPER_ID , DEPARTMENT_NAME , POSITION_ID, POSITION_NAME FROM `MEMBER` m 
			JOIN DEPARTMENT d 
			USING (DEPARTMENT_ID)
			JOIN POSITIONRANK p 
			USING (POSITION_ID);
					
	
	</select>



</mapper>


