<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aka.app.member.MemberDAO">
	<select id="getDetail" parameterType="MemberVO" resultMap="getDetailResult">
		SELECT * 
			FROM MEMBER M
		WHERE USER_ID = #{user_id}			 
	</select>
	
	<resultMap type="MemberVO" id="getDetailResult">
		<id column="MEMBER_ID" property="member_id"/>
		<result column="DEPARTMENT_ID" property="department_id"/>
		<result column="EMAIL" property="email"/>
		<result column="HIRE_DATE" property="hire_date"/>
		<result column="RETIRE_DATE" property="retire_date"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="USER_ID" property="user_id"/>
		<result column="PASSWORD" property="password"/>
		<result column="USERNAME" property="username"/>
		<result column="ROLE_ID" property="role_id"/>
		<result column="CUSTOMER_KEY" property="customer_key"/>
		<result column="PROFIL" property="profil"/>
		<result column="PROFIL_ORI" property="profil_ori"/>
		<result column="POSITION_ID" property="position_id"/>
		
<!-- 		<association property="roleVO" javaType="RoleVO">
			<result column="NAME" property="NAME"/>
		</association> -->
	</resultMap>
	
	<insert id="add" parameterType="MemberVO">
		INSERT INTO MEMBER
			(MEMBER_ID, 
			EMAIL, 
			HIRE_DATE, 
			RETIRE_DATE, 
			PHONE, 
			ADDRESS, 
			USER_ID, 
			PASSWORD, 
			USERNAME, 
			ROLE_ID, 
			CUSTOMER_KEY, 
			PROFIL, 
			PROFIL_ORI, 
			POSITION_ID, 
			DEPARTMENT_ID)
		VALUES(#{member_id}, #{email}, NOW(), NOW(),#{phone}, #{address}, #{user_id}, #{password}, #{username}, #{role_id}, 'key',null,null,1,1);
	</insert>
</mapper>